@import '../../containers/App/styles/variables';

:local(.styles) {
  font-size: 10px;

  .item {
    position: relative;
    border-bottom: 1px solid $lighterGrey;
    padding: 20px;
    display: block;
  }

  h2.title {
    margin-bottom: 5px;
    font-size: 18px;
    color: $lightBlue;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .length,
  .created-at,
  .size {
    font-size: 15px;
    color: $white35;
  }

  .length {
    position: absolute;
    top: 24px;
    right: 200px;
  }

  .size {
    position: absolute;
    bottom: 20px;
    right: 200px;
  }

  .report {
    position: absolute;
    top: 10px;
    right: 100px;
  }

  .report:hover {
    cursor: pointer;
  }

  .play {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .play:hover {
    cursor: pointer;
  }
}
